.Header{
    height: 34vw;
    margin: 30px auto;
    background: url('/src/assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
  
}

.Header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.Header-content h2{
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw,22px);
}

.Header-content p{
    color: #fff;
    font-size: 1vw;
}

.Header-content button{
    border: none;
    color: #747474;
    background-color: white;
    padding: 1vw 2.3vw;
    font-size: max(1vw ,13px);
    border-radius: 50px;
}

@media (max-width:1050px) {

    .Header{
        /* border: 1px solid black; */
    }
    .Header-content{
        max-width: 45%;
    }
}


@media (max-width:750px) {
    .Header-content{
        max-width: 50%;
 
    }

    .Header-content p{
        display: none;
    }

    .Header-content button{
        padding: 1vw 3vw;
        font-size: 13px
    };
}

@media (max-width:476px) {
    .Header-content{
        max-width: 80%;
 
    }
}